* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    color: #fff;
    font-weight: 1rem;
    font-weight: 500;
}

nav,
.hero-footer {
    position: absolute;
    left: 0;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-items {
    display: flex;
    gap: 4rem;
}

nav .logo p {
    font-weight: 700;
}

.hero-footer {
    bottom: 0;
}

section {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.gradient-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
        gap: 2rem;
    }
}
